# .gitignore
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.venv/
venv/
ENV/
# Node
node_modules/
dist/
# VSCode
.vscode/
# OS
.DS_Store
Thumbs.db

# Logs
*.log
# Env files
.env

# Coverage
coverage/
.nyc_output/
.early.coverage/
test/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Build
build/

# Docker
.dockerignore

# Misc
package-lock.json
.puml
.prettierrc
